programing/_common/footer.html

<div class="equipo--fancy">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <section class="equipo__fancy">
            <div class="equipo">
              <div class="equipo__wrap">
                <div class="equipo__item">
                  <div class="equipo__title">
                    <div class="titulos titulo--izquierda">
                      <h2>Se parte de nuestro equipo</h2>
                      <h3>¡escríbenos ahora!</h3>
                    </div>
                  </div>
                  <div class="equipo__form">
                    <form>
                      <div class="equipo__form equipo__formularios">
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="validate[required]" type="text" placeholder="Nombres y apellidos*"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="soloNumber validate[required]" type="text" placeholder="teléfono"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input">
                            <div class="general__input__inside">
                              <input class="validate[required]" type="text" placeholder="Email*"/>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input">
                          <div class="general__input__file general__input__file--js">
                            <div class="general__input__inside">
                              <input id="file-input" type="file"/>
                              <label class="general__input__file__label" for="file-input"><span class="general__input__file__text">Adjuntar cv:</span><span class="general__input__file__ico icon-adjuntar"></span></label>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input--textarea">
                          <div class="general__input general__input--textarea">
                            <div class="general__input__inside">
                              <textarea class="validate[required]" id="mensaje" placeholder="Mensaje"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="equipo__input equipo__input--boton">
                          <input class="btn btn-enlace12 btn-red" type="submit" value="ENVIAR"/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer" role="contentinfo">
  <div class="footer_content">
    <div class="footer__wrap">
      <div class="footer__imagen"><img class="img-fluid" src="assets/img/footer-logo.png" width="116" height="39" alt="Best Security"/></div>
      <ul class="footer_menu footer_items">
        <li class="footer__item"> <a href="nosotros.html">Conócenos</a></li>
        <li class="footer__item"> <a href="tiendas.html">Tiendas</a></li>
        <li class="footer__item"> <a href="terminos-condiciones.html">Términos y condiciones</a></li>
        <li class="footer__item"> <a href="cuenta.html">Mi cuenta</a></li>
        <li class="footer__item"> <a href="" data-toggle="modal" data-target="#exampleModal">Trabaja con nosotros</a></li>
        <li class="footer__item"> <a href="contacto.html">Contacto</a></li>
      </ul>
      <ul class="footer__iconos">
        <li class="footer__item-icono"><a class="icon-facebook" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-youtube" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-linkedin" href=""></a></li>
        <li class="footer__item-icono"><a class="icon-blogger" href=""></a></li>
      </ul>
    </div>
    <div class="footer__wrap footer_creditos">
      <ul class="footer__menu-creditos">
        <li class="footer__menu--items">© Copyright 2017 - Todos los derechos reservados</li>
        <li class="footer__menu--items">Diseño Web por <a href="">StaffDigital</a></li>
      </ul>
    </div>
  </div>
</footer>

src/pages/_common/footer.pug
.equipo--fancy
	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					section.equipo__fancy
						.equipo
							.equipo__wrap
								.equipo__item
									.equipo__title
										.titulos.titulo--izquierda
											h2 Se parte de nuestro equipo
											h3 ¡escríbenos ahora!
									.equipo__form
										form
											.equipo__form.equipo__formularios
												.equipo__input
													.general__input
														.general__input__inside
															input(type='text', placeholder='Nombres y apellidos*', class='validate[required]')

												.equipo__input
													.general__input
														.general__input__inside
															input.soloNumber(type='text', placeholder='teléfono', class='validate[required]')
												.equipo__input
													.general__input
														.general__input__inside
															input(type='text', placeholder='Email*', class='validate[required]')
												.equipo__input
													.general__input__file.general__input__file--js
														.general__input__inside
															input#file-input(type='file')
															label.general__input__file__label(for='file-input')
																span.general__input__file__text Adjuntar cv:
																span.general__input__file__ico.icon-adjuntar
												.equipo__input--textarea
													.general__input.general__input--textarea
														.general__input__inside
															textarea#mensaje(class='validate[required]', placeholder='Mensaje')
												.equipo__input.equipo__input--boton
													input.btn.btn-enlace12.btn-red( type='submit', value="ENVIAR")
footer.footer(role='contentinfo')
	.footer_content
		.footer__wrap
			.footer__imagen
				img(src=`${STATIC_URL}img/footer-logo.png` width="116" height="39" alt="Best Security" class='img-fluid')
			ul.footer_menu.footer_items
				li.footer__item 
					a(href="nosotros.html") Conócenos
				li.footer__item 
					a(href="tiendas.html") Tiendas
				li.footer__item 
					a(href="terminos-condiciones.html") Términos y condiciones
				li.footer__item 
					a(href="cuenta.html") Mi cuenta
				li.footer__item 
					a(href="", data-toggle='modal', data-target='#exampleModal') Trabaja con nosotros
				li.footer__item 
					a(href="contacto.html") Contacto
			ul.footer__iconos
				li.footer__item-icono
					a(href="").icon-facebook
				li.footer__item-icono
					a(href="").icon-youtube
				li.footer__item-icono
					a(href="").icon-linkedin
				li.footer__item-icono
					a(href="").icon-blogger
		.footer__wrap.footer_creditos
			ul.footer__menu-creditos
				li.footer__menu--items © Copyright 2017 - Todos los derechos reservados
				li.footer__menu--items Diseño Web por 
					a(href="") StaffDigital
