programing/_common/header.html

<header class="header"><span class="header__overlay"></span>
  <div class="header__main">
    <div class="header__content">
      <div class="header__content__left"><a class="header__logo header-logo" href="home.html">
          <figure class="header__logo__white"><img src="assets/img/header__logo__blanco.png" width="100" height="34" alt="logo" name="logo"/></figure>
          <figure class="header__logo__colors"><img src="assets/img/header__logo__colores.png" width="100" height="34" alt="logo" name="logo"/></figure></a>
        <nav class="header__menu header-list">
          <ul class="header__menu__content">
            <li class="header__menu__item header__submenu--show active"><a class="header__menu__link" href="#"><span class="header__menu__link__text">AUTO PARTES</span></a>
              <div class="header__submenu">
                <div class="header__submenu__content header__submenu__content--width">
                  <div class="header__submenu__itembox">
                    <div class="header__submenu__title"><a class="header__submenu__title__text" href="">ACCESORIOS</a><span class="menu__submenu__title__icono icon-next"></span></div>
                    <ul class="header__submenu__links">
                      <li class="header__submenu__item active"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Accesorios eléctricos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Focos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Seguridad Vehicular</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Accesorios externos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Iluminación</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Repuestos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Asistencia vehicular</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Polarizados y Adhesivos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Espejos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Siliconas y ambientadores</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Ver todas las categorías</span></a></li>
                    </ul>
                  </div>
                  <div class="header__submenu__itembox">
                    <div class="header__submenu__title"><a class="header__submenu__title__text" href="">EQUIPAMIENTO</a><span class="menu__submenu__title__icono icon-next"></span></div>
                    <ul class="header__submenu__links">
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Equipamiento</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="header__menu__item header__submenu--show"><a class="header__menu__link" href="#"><span class="header__menu__link__text">MAQUINARIAS ELECTRICAS</span></a>
              <div class="header__submenu">
                <div class="header__submenu__content header__submenu__content--width">
                  <div class="header__submenu__itembox">
                    <div class="header__submenu__title"><a class="header__submenu__title__text" href="">ACCESORIOS</a><span class="menu__submenu__title__icono icon-next"></span></div>
                    <ul class="header__submenu__links">
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Accesorios eléctricos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Focos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Seguridad Vehicular</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Accesorios externos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Iluminación</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Repuestos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Asistencia vehicular</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Polarizados y Adhesivos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Espejos</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Siliconas y ambientadores</span></a></li>
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Ver todas las categorías</span></a></li>
                    </ul>
                  </div>
                  <div class="header__submenu__itembox">
                    <div class="header__submenu__title"><a class="header__submenu__title__text" href="">EQUIPAMIENTO</a><span class="menu__submenu__title__icono icon-next"></span></div>
                    <ul class="header__submenu__links">
                      <li class="header__submenu__item"><a class="header__submenu__link" href=""><span class="header__submenu__link__text">Equipamiento</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="header__menu__item"><a class="header__menu__link" href="marcas.html"><span class="header__menu__link__text">MARCAS</span></a></li>
            <li class="header__menu__item"><a class="header__menu__link" href="tiendas.html"><span class="header__menu__link__text">TIENDAS</span></a></li>
            <li class="header__menu__item"><a class="header__menu__link" href="nosotros.html"><span class="header__menu__link__text">CONÓCENOS</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="header__content__right">
        <div class="header__search"><span class="header__search__open icon-search-add"></span></div><a class="header__account" href="cuenta.html"><span class="header__account__icon icon-login"></span><span class="header__account__text">MI CUENTA</span></a><a class="header__bag" href="carrito.html"><span class="header__bag__icon icon-bolsa-compra"></span><span class="header__bag__text">(3)</span></a>
      </div>
    </div>
  </div>
</header><span class="header-overlay"></span>
<div class="header-search-pop-up">
  <div class="header-top-wrapper">
    <div class="h-search-cnt">
      <div class="header-search-top"><span class="h-cerrar"><span class="h-cerrar-before icon-close"></span></span>
        <form action="">
          <div class="h-form">
            <div class="h-search-input">
              <input type="text" placeholder="Ingresa el nombre o código del producto"/>
            </div>
            <div class="h-button">
              <button class="icon-search"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="menu-mobile-open icon-menu"></div>
<div class="menu-mobile-close icon-close"></div>
<div class="header-menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>

src/pages/_common/header.pug
header.header
	span.header__overlay
	.header__main
		.header__content
			.header__content__left
				a(href="home.html").header__logo.header-logo
					figure.header__logo__white
						img(src=`${STATIC_URL}img/header__logo__blanco.png`, width="100", height="34", alt="logo" name="logo")
					figure.header__logo__colors
						img(src=`${STATIC_URL}img/header__logo__colores.png`, width="100", height="34", alt="logo" name="logo")
				nav.header__menu.header-list
					ul.header__menu__content
						li.header__menu__item.header__submenu--show.active
							a(href="#").header__menu__link
								span.header__menu__link__text AUTO PARTES
							.header__submenu
								.header__submenu__content.header__submenu__content--width
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text ACCESORIOS
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item.active
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios eléctricos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Focos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Seguridad Vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios externos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Iluminación
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Repuestos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Asistencia vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Polarizados y Adhesivos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Espejos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Siliconas y ambientadores
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Ver todas las categorías
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text EQUIPAMIENTO
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Equipamiento
						li.header__menu__item.header__submenu--show
							a(href="#").header__menu__link
								span.header__menu__link__text MAQUINARIAS ELECTRICAS
							.header__submenu
								.header__submenu__content.header__submenu__content--width
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text ACCESORIOS
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios eléctricos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Focos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Seguridad Vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Accesorios externos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Iluminación
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Repuestos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Asistencia vehicular
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Polarizados y Adhesivos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Espejos
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Siliconas y ambientadores
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Ver todas las categorías
									.header__submenu__itembox
										.header__submenu__title
											a(href="").header__submenu__title__text EQUIPAMIENTO
											span.menu__submenu__title__icono.icon-next
										ul.header__submenu__links
											li.header__submenu__item
												a(href="").header__submenu__link
													span.header__submenu__link__text Equipamiento
						li.header__menu__item
							a(href="marcas.html").header__menu__link
								span.header__menu__link__text MARCAS
						li.header__menu__item
							a(href="tiendas.html").header__menu__link
								span.header__menu__link__text TIENDAS
						li.header__menu__item
							a(href="nosotros.html").header__menu__link
								span.header__menu__link__text CONÓCENOS
			.header__content__right
				.header__search
					span.header__search__open.icon-search-add
				a(href="cuenta.html").header__account
					span.header__account__icon.icon-login
					span.header__account__text MI CUENTA
				a(href="carrito.html").header__bag
					span.header__bag__icon.icon-bolsa-compra
					span.header__bag__text (3)

//- +++ search +++
span.header-overlay
.header-search-pop-up
	.header-top-wrapper
		.h-search-cnt
			.header-search-top
				span.h-cerrar
					span.h-cerrar-before.icon-close
				form(action="")
					.h-form
						.h-search-input
							input(type="text", placeholder="Ingresa el nombre o código del producto")
						.h-button
							button.icon-search

//- +++ menu responsive +++
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close
.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt
