programing/accesorios.html

      <div class="accesorios">
        <div class="accesorios_title">
          <h3>Accesorios</h3>
        </div>
        <div class="accesorios_banner">
          <div class="accesorios_banner--img" style="background-image: url('/assets/img/banner_accesorios.png');">
            <div class="accesorios_banner--title">
              <h4>Accesorios Eléctricos</h4>
            </div>
          </div>
        </div>
        <div class="accesorios_content">
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
          <div class="accesorios_content--img"><a href="#"><img class="accesorios_content--imagen" src="/assets/img/img_accesorios_1.png"/></a></div>
        </div>
      </div>

src/pages/accesorios.pug
extends ./_common/base.pug

block content
	div.accesorios
		div.accesorios_title
			h3 Accesorios
		div.accesorios_banner
			div.accesorios_banner--img(style="background-image: url('/assets/img/banner_accesorios.png')")
				div.accesorios_banner--title
					h4 Accesorios Eléctricos
		div.accesorios_content
			- for (var x = 0; x < 8; x++)
				div.accesorios_content--img
					a(href="#")
						img.accesorios_content--imagen(src="/assets/img/img_accesorios_1.png")
