programing/carrito.html

      <div class="carrito">
        <div class="titulos">
          <h2>Carrito de Cotizaciones</h2>
        </div>
        <div class="carrito_content">
          <div class="carrito_cotizacion--title">
            <div class="carrito_title--producto">
              <p>Producto</p>
            </div>
            <div class="carrito_title--cantidad">
              <p>Cantidad</p>
            </div>
          </div>
          <div class="carrito_cotizacion">
            <div class="carrito_productos">
              <div class="carrito_productos--img">
                <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
              </div>
              <div class="carrito_productos--text">
                <p>Timon marca SPARCO modelo</p>
                <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
              </div>
            </div>
            <div class="carrito_cantidad">
              <div class="carrito_cantidad--input">
                <div class="input-group"><span class="select--mas input-group-addon">+</span>
                  <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                </div>
              </div>
              <div class="carrito_cantidad--icon">
                <div class="icon-remove"></div>
              </div>
            </div>
          </div>
          <div class="carrito_cotizacion">
            <div class="carrito_productos">
              <div class="carrito_productos--img">
                <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
              </div>
              <div class="carrito_productos--text">
                <p>Timon marca SPARCO modelo</p>
                <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
              </div>
            </div>
            <div class="carrito_cantidad">
              <div class="carrito_cantidad--input">
                <div class="input-group"><span class="select--mas input-group-addon">+</span>
                  <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                </div>
              </div>
              <div class="carrito_cantidad--icon">
                <div class="icon-remove"></div>
              </div>
            </div>
          </div>
          <div class="carrito_cotizacion">
            <div class="carrito_productos">
              <div class="carrito_productos--img">
                <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
              </div>
              <div class="carrito_productos--text">
                <p>Timon marca SPARCO modelo</p>
                <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
              </div>
            </div>
            <div class="carrito_cantidad">
              <div class="carrito_cantidad--input">
                <div class="input-group"><span class="select--mas input-group-addon">+</span>
                  <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                </div>
              </div>
              <div class="carrito_cantidad--icon">
                <div class="icon-remove"></div>
              </div>
            </div>
          </div>
          <div class="carrito_cotizacion">
            <div class="carrito_productos">
              <div class="carrito_productos--img">
                <div class="carrito_productos--imagen"><img src="/assets/img/carrito_img.png"/></div>
              </div>
              <div class="carrito_productos--text">
                <p>Timon marca SPARCO modelo</p>
                <p>LAP 5 ALC color negro</p><a href="#">Sparco</a>
              </div>
            </div>
            <div class="carrito_cantidad">
              <div class="carrito_cantidad--input">
                <div class="input-group"><span class="select--mas input-group-addon">+</span>
                  <input class="input--select form-control soloNumber" type="text" value="1"/><span class="select--menos input-group-addon">-</span>
                </div>
              </div>
              <div class="carrito_cantidad--icon">
                <div class="icon-remove"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carrito_button"><a class="btn btn-enlace1 btn-celeste rounded-0" href="">Continuar Cotización</a></div>
      </div>

    <script>
      'use strict'
      $(()=>{
      	$('.select--mas').click((e)=>{
      		e.preventDefault()
      		let currentValue = $(e.target).parent().find('input').val()
      		if(!currentValue){
      			$(e.target).parent().find('input').val(1)
      			return true
      		}
      		$(e.target).parent().find('input').val(parseInt(currentValue)+ 1)
      	})
      	$('.select--menos').click((e)=>{
      		e.preventDefault()
      		let currentValue = $(e.target).parent().find('input').val()
      		if(!currentValue){
      			$(e.target).parent().find('input').val(1)
      			return true
      		}
      		if(currentValue > 1){
      			$(e.target).parent().find('input').val(parseInt(currentValue)- 1)
      		}
      	})
      })
    </script>

src/pages/carrito.pug
extends ./_common/base.pug

block content
	div.carrito
		div.titulos
			h2 Carrito de Cotizaciones
		div.carrito_content
			div.carrito_cotizacion--title
				div.carrito_title--producto
					p Producto
				div.carrito_title--cantidad
					p Cantidad
			- for (var x = 0; x < 4; x++)
				div.carrito_cotizacion
					div.carrito_productos
						div.carrito_productos--img
							div.carrito_productos--imagen
								img(src="/assets/img/carrito_img.png")
						div.carrito_productos--text
							p Timon marca SPARCO modelo
							p LAP 5 ALC color negro
							a(href="#") Sparco
					div.carrito_cantidad
						div.carrito_cantidad--input
							div.input-group
								span.select--mas.input-group-addon +
								input.input--select.form-control.soloNumber(type="text", value="1")
								span.select--menos.input-group-addon -
						div.carrito_cantidad--icon
							div.icon-remove
		div.carrito_button
			a.btn.btn-enlace1.btn-celeste.rounded-0( href='') Continuar Cotización
append scripts
	script.
		'use strict'
		$(()=>{
			$('.select--mas').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				$(e.target).parent().find('input').val(parseInt(currentValue)+ 1)
			})
			$('.select--menos').click((e)=>{
				e.preventDefault()
				let currentValue = $(e.target).parent().find('input').val()
				if(!currentValue){
					$(e.target).parent().find('input').val(1)
					return true
				}
				if(currentValue > 1){
					$(e.target).parent().find('input').val(parseInt(currentValue)- 1)
				}
			})
		})
