src/pages/cotizador.pug
extends ./_common/base.pug

block content
	.cotizador__content__wrap
		.cotizador__content_items
			.cotizador__content__title
				h2 ¡Nos encantaría atenderte!
				p Llena el siguiente formulario y estaremos enviandote la cotización de todo lo requerido.
			.cotizador__form
				form
					.cotizador__formularios
						.cotizador__item
							.general__input
								.general__input__inside
									input(type='text', placeholder='Nombres', class='validate[required]')
						.cotizador__item
							.general__input
								.general__input__inside
									input(type='text', placeholder='Apellidos', class='validate[required]')
						.cotizador__item.cotizador__label--texto
							.general__input.general__input--textarea
								.general__input__inside
									textarea#mensaje(class='validate[required]', placeholder='Mensaje')
						.cotizador__item.cotizador__campo
							h3 *Todos los campos son obligatorios
						.cotizador__item.cotizador__campo
							input.btn.btn-enlace1.btn-enlace12.rounded-0( type='submit', value="Míralo Aquí")
append scripts
	script.
		$(()=>{
			// validation
			$(".cotizador__form form").validationEngine();
		})

programing/cotizador.html

      <div class="cotizador__content__wrap">
        <div class="cotizador__content_items">
          <div class="cotizador__content__title">
            <h2>¡Nos encantaría atenderte!</h2>
            <p>Llena el siguiente formulario y estaremos enviandote la cotización de todo lo requerido.</p>
          </div>
          <div class="cotizador__form">
            <form>
              <div class="cotizador__formularios">
                <div class="cotizador__item">
                  <div class="general__input">
                    <div class="general__input__inside">
                      <input class="validate[required]" type="text" placeholder="Nombres"/>
                    </div>
                  </div>
                </div>
                <div class="cotizador__item">
                  <div class="general__input">
                    <div class="general__input__inside">
                      <input class="validate[required]" type="text" placeholder="Apellidos"/>
                    </div>
                  </div>
                </div>
                <div class="cotizador__item cotizador__label--texto">
                  <div class="general__input general__input--textarea">
                    <div class="general__input__inside">
                      <textarea class="validate[required]" id="mensaje" placeholder="Mensaje"></textarea>
                    </div>
                  </div>
                </div>
                <div class="cotizador__item cotizador__campo">
                  <h3>*Todos los campos son obligatorios</h3>
                </div>
                <div class="cotizador__item cotizador__campo">
                  <input class="btn btn-enlace1 btn-enlace12 rounded-0" type="submit" value="Míralo Aquí"/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    <script>
      $(()=>{
      	// validation
      	$(".cotizador__form form").validationEngine();
      })
    </script>
