src/pages/gracias.pug
extends ./_common/base.pug

block content
	.mensaje
		.mensaje__error
			.mensaje-imagen
				img(src=`${STATIC_URL}img/gracias-img.png` width="106" height="106" alt="" class='mensaje_imagen')
			.mensaje-texto
				h2 ¡Gracias! 
				h2 hemos recibido tu cotización
				p Gracias por contáctarte con nosotros, en breve atenderemos tu consulta O duda. Puedes seguir conociendonos regresando.
				.mensaje-texto--btn
					a.btn.btn-enlace1.btn-celeste.rounded-0( href='home.html') regresar a la página principal 

programing/gracias.html

      <div class="mensaje">
        <div class="mensaje__error">
          <div class="mensaje-imagen"><img class="mensaje_imagen" src="assets/img/gracias-img.png" width="106" height="106" alt=""/></div>
          <div class="mensaje-texto">
            <h2>¡Gracias! </h2>
            <h2>hemos recibido tu cotización</h2>
            <p>Gracias por contáctarte con nosotros, en breve atenderemos tu consulta O duda. Puedes seguir conociendonos regresando.</p>
            <div class="mensaje-texto--btn"><a class="btn btn-enlace1 btn-celeste rounded-0" href="home.html">regresar a la página principal </a></div>
          </div>
        </div>
      </div>
