programing/home.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="assets/js/bxslider/jquery.bxslider.css"/>
  </head>
  <body class="page__home">
    <div class="wrapper">
      <div class="slider__principal__wrap__all">
        <div class="slider__principal__block__static" style="background-image: url('assets/img/img-slider-bg.jpg');">
          <div class="slider__contact__section"><a class="slider__contact__tel" href="tel:232-2354">232-2354</a><a class="slider__contact__mail" href="mailto:Safarigroup.com">Safarigroup.com</a></div>
        </div>
        <div class="slider__principal__wrap">
          <div class="slider__principal">
            <ul class="slider__principal__pitcher4">
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li style="background-image: url('assets/img/home-bg.jpg');">
                <div class="slider__principal__container">
                  <div class="slider__principal__container_center">
                    <div class="slider__principal__item">
                      <div class="slider__principal__left">
                        <div class="slider__principal__title">
                          <h1><strong>Resalta la potencia</strong>de tu auto con cada detalle </h1>
                        </div>
                        <div class="general__button general__button--rojo general__button--home"><a class="btn btn-enlace12 btn-red" href="detalle-producto.html">Ver producto</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <section class="slider__carrousel__item__slider">
        <div class="slider__carrousel__item__container">
          <div class="slider__carrousel__item__title__wrap">
            <div class="slider__carrousel__item__title">
              <h3>Productos destacados</h3>
            </div>
          </div>
          <div class="slider__carrousel__item__slide">
            <ul class="slider__carrousel__list__items slider__carrousel__item--js">
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
              <li class="slider__carrousel__item">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="detalle-producto.html">Ver Producto</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="g-items-bucle">
        <div class="g-items-cnt"><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Todo en construccion</h3>
                      <p>lo encuentras aqui</p><span>ver linea de productos</span>
                    </div>
                  </div>
                </div>
              </div>
            </div></a><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img2.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Herramientas</h3>
                      <p>Neumáticas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></a><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img3.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Herramientas</h3>
                      <p>Neumáticas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></a><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img4.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Herramientas</h3>
                      <p>Neumáticas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></a><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img5.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Herramientas</h3>
                      <p>Neumáticas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></a><a class="g-item-bucle g-item-bucle-home" href="listado-productos.html">
            <div class="g-item-bucle-inside">
              <div class="g-item-buble-img" style="background-image: url('assets/img/bucle-img6.jpg');"></div>
              <div class="g-item-bucle-absolute">
                <div class="g-item-bucle-table">
                  <div class="g-item-bucle-table-cell">
                    <div class="g-item-bucle-title">
                      <h3>Herramientas</h3>
                      <p>Neumáticas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></a></div>
      </section>
      <section class="slider__carrousel__clients slider__carrousel__clients--no--arrows">
        <div class="slider__carrousel__clients__container">
          <div class="slider__carrousel__clients__title__wrap">
            <div class="slider__carrousel__clients__title">
              <h3>Marcas líderes</h3>
            </div>
          </div>
          <div class="slider__carrousel__clients__container__slider">
            <ul class="slider__carrousel__clients--js">
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
              <li class="slider__carrousel__clients__item"><a href="#" target="t_blank"><img src="assets/img/marca-img.jpg" alt=""/></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="home__links">
        <div class="home__link__container">
          <div class="home__link__item">
            <div class="home__link__item__inside">
              <div class="home__link__item__img home__link__item__img--fondo__1" style="background-image: url('assets/img/link-img1.jpg');"></div>
              <div class="home__link__item__absolute">
                <div class="home__link__item__table">
                  <div class="home__link__item__table_cell">
                    <div class="home__link__item__content">
                      <h3>Encuentra</h3>
                      <p>nuestras tiendas</p>
                    </div>
                    <div class="home__link__btn"><a class="btn btn-enlace1 btn-celeste rounded-0" href="tiendas.html">ver direcciones</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home__link__item">
            <div class="home__link__item__inside">
              <div class="home__link__item__img home__link__item__img--fondo__2"></div>
              <figure class="home__link__img home__link__img--2"><img src="assets/img/home__link__img__2.png" width="152" height="184" alt=""/></figure>
              <div class="home__link__item__absolute">
                <div class="home__link__item__table">
                  <div class="home__link__item__table_cell">
                    <div class="home__link__item__content">
                      <h3>Encuentra</h3>
                      <p>nuestras tiendas</p>
                    </div>
                    <div class="home__link__btn"><a class="btn btn-enlace12 btn-azul" href="">únete  al equipo</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home__link__item">
            <div class="home__link__item__inside">
              <div class="home__link__item__img home__link__item__img--fondo__3"></div>
              <figure class="home__link__img home__link__img--3"><img src="assets/img/home__link__img__3.png" width="225" height="183" alt=""/></figure>
              <div class="home__link__item__absolute">
                <div class="home__link__item__table">
                  <div class="home__link__item__table_cell">
                    <div class="home__link__item__content">
                      <h3>Obten nuestro<br/>catalogo</h3>
                      <p>nuestras tiendas</p>
                    </div>
                    <div class="home__link__btn"><a class="btn btn-enlace12 btn-azul" href="">Descargar ahora</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home__videos">
        <div class="home__videos__container">
          <div class="home__video__left">
            <div class="home__video__left__title">
              <h3>Manteniendo siempre el buen servicio</h3>
              <p>Estamos conectados para estar cada vez mas cerca de ti.</p>
            </div>
          </div>
          <div class="home__video__right">
            <div class="home__video__container__items">
              <div class="home__video__item">
                <div class="home__video__content w-video">
                  <div class="home__video__coverpage w-portada" style="background-image: url('assets/img/video-img1.jpg');"><span class="home__video__icon w-play"></span></div>
                  <div class="home__video__wrap">
                    <div class="home__video__inside__content">
                      <iframe class="video-iframe" data-video="SwlQFK_1C8k" width="550" height="350" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="home__video__item">
                <div class="home__video__content w-video">
                  <div class="home__video__coverpage w-portada" style="background-image: url('assets/img/video-img2-.jpg');"><span class="home__video__icon w-play"></span></div>
                  <div class="home__video__wrap">
                    <div class="home__video__inside__content">
                      <iframe class="video-iframe" data-video="SwlQFK_1C8k" width="550" height="350" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="assets/js/slick/slick.js"></script>
    <script src="assets/js/bxslider/jquery.bxslider.min.js"></script>
    <script>
      function linkToParent(i){
      	$(i).each(function(index, el) {
      		$(el).css('cursor', 'pointer').click(function(e) {
      			$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
      		});
      	});
      }
      $(function(){
      	//- bx slider slider banne-principal
      	$('.slider__principal__pitcher4').bxSlider({
      		mode: 'fade',
      		controls:true,
      		nextText: '',
      		prevText: '',
      		pager:true,
      		adaptiveHeight:true,
      		auto:true,
      		pause: 5000,
      		onSliderLoad: function(currentIndex) {
      			$('.slider__principal__pitcher4').children().eq(currentIndex).addClass('active')
      		},
      		onSlideBefore: function($slideElement){
      			$('.slider__principal__pitcher4').children().removeClass('active');
      			setTimeout( function(){
      				$slideElement.addClass('active');
      			},500);
      		}
      	});
      
      	//- slick slider item product
      	$('.slider__carrousel__item--js').slick({
      		slidesToShow: 4,
      		slidesToScroll: 4,
      		infinite: true,
      		autoplay: true,
      		arrows: false,
      		dots: true,
      		 responsive: [
      			{
      				breakpoint: 1700,
      				settings: {
      					slidesToShow: 4,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 1200,
      				settings: {
      					slidesToShow: 3,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 1024,
      				settings: {
      					slidesToShow: 3,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 768,
      				settings: {
      					slidesToShow: 2,
      					slidesToScroll: 1
      				}
      			},
      			{
      				breakpoint: 480,
      				settings: {
      					slidesToShow: 1,
      					slidesToScroll: 1
      				}
      			}
      		]
      	});
      
      	//link parent 
      	linkToParent('.item__general');
      
      
      	//bucle 
      	var g_itemx = ['g-item1','g-item2','g-item3','g-item4','g-item5','g-item6'];
      	$('.g-item-bucle-home').each(function(i,e){
      		$(e).addClass(g_itemx[i%g_itemx.length])
      	});
      		
      	//- slick- slider marcas
      	$('.slider__carrousel__clients--js').slick({
      		infinite: true,
      		autoplay: true,
      		speed: 300,
      		slidesToShow: 6,
      		slidesToScroll: 1,
      		margin: 0,
      		responsive: [
      			{
      				breakpoint: 1025,
      				settings: {
      				slidesToShow: 4
      				}
      			},
      			{
      				breakpoint: 641,
      				settings: {
      				slidesToShow: 3
      				}
      			},
      			{
      				breakpoint: 481,
      				settings: {
      				slidesToShow: 2
      				}
      			},
      			{
      				breakpoint: 361,
      				settings: {
      				slidesToShow: 1
      				}
      			}
      		]
      	});
      
      	//bucle 
      	var g_itemx = ['g-item1','g-item2','g-item3'];
      	$('.home__link__item').each(function(i,e){
      		$(e).addClass(g_itemx[i%g_itemx.length])
      	});
      
      	linkToParent('.home__link__item');
      
      
      	//video 
      	function video_play(){
      		var url ="https://www.youtube.com/embed/";
      		var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
      		$('.w-play').click(function(event) {
      			play = $(this)
      			play.addClass('anima');
      			videocurrent = $(this).closest('.w-video').find('.video-iframe');
      			videoid = videocurrent.attr('data-video');
      			videocurrent.attr('src', url+videoid+config);
      
      
      			videocurrent.on('load', function() {
      				play.closest('.w-video').find('.w-portada').addClass('active');
      				play.addClass('active');
      				videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
      			});
      
      		});
      	}
      
      	video_play();
      	
      });
    </script>
  </body>
</html>

src/pages/home.pug
extends ./_common/base.pug
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
block vars
	- var bodyClass = 'page__home'
block content
	.slider__principal__wrap__all
		.slider__principal__block__static(style=`background-image: url('${STATIC_URL}img/img-slider-bg.jpg');`)
			.slider__contact__section
				a.slider__contact__tel(href="tel:232-2354") 232-2354
				a.slider__contact__mail(href="mailto:Safarigroup.com") Safarigroup.com
		.slider__principal__wrap
			.slider__principal
				ul.slider__principal__pitcher4
					-for (var i = 0; i < 6; i++)
						li(style=`background-image: url('${STATIC_URL}img/home-bg.jpg');`)
							.slider__principal__container
								.slider__principal__container_center
									.slider__principal__item
										.slider__principal__left
											.slider__principal__title
												h1
													strong Resalta la potencia
													| de tu auto con cada detalle 
											.general__button.general__button--rojo.general__button--home
												a.btn.btn-enlace12.btn-red( href='detalle-producto.html') Ver producto
	//- slider products
	section.slider__carrousel__item__slider
		.slider__carrousel__item__container
			.slider__carrousel__item__title__wrap
				.slider__carrousel__item__title
					h3 Productos destacados
			.slider__carrousel__item__slide
				ul.slider__carrousel__list__items.slider__carrousel__item--js
					-for (var i = 0; i < 6; i++)
						li.slider__carrousel__item
							.item__general
								.item__general__image__product
									img(src=`${STATIC_URL}img/item-general-img.png`, alt="")
								.item__general__code
									span SKU 12345678
								.item__general__title
									h3 Lorem ipsum dolor sit
								.item__general__button
									a.btn.btn-enlace12.btn-azul( href='detalle-producto.html') Ver Producto
	section.g-items-bucle
		.g-items-cnt
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Todo en construccion
									p lo encuentras aqui
									span ver linea de productos
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img2.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Herramientas
									p Neumáticas
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img3.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Herramientas
									p Neumáticas
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img4.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Herramientas
									p Neumáticas
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img5.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Herramientas
									p Neumáticas
			a.g-item-bucle.g-item-bucle-home(href='listado-productos.html')
				.g-item-bucle-inside
					.g-item-buble-img(style=`background-image: url('${STATIC_URL}img/bucle-img6.jpg');`)
					.g-item-bucle-absolute
						.g-item-bucle-table
							.g-item-bucle-table-cell
								.g-item-bucle-title
									h3 Herramientas
									p Neumáticas
	//- slider marcas
	section.slider__carrousel__clients.slider__carrousel__clients--no--arrows
		.slider__carrousel__clients__container
			.slider__carrousel__clients__title__wrap
				.slider__carrousel__clients__title
					h3 Marcas líderes
			.slider__carrousel__clients__container__slider
				ul.slider__carrousel__clients--js
					-for (var i = 0; i < 7; i++)
						li.slider__carrousel__clients__item
							a(href='#', target='t_blank')
								img(src=`${STATIC_URL}img/marca-img.jpg`, alt="")
	section.home__links
		.home__link__container
			.home__link__item
				.home__link__item__inside
					.home__link__item__img.home__link__item__img--fondo__1(style=`background-image: url('${STATIC_URL}img/link-img1.jpg');`)
					.home__link__item__absolute
						.home__link__item__table
							.home__link__item__table_cell
								.home__link__item__content
									h3 Encuentra
									p nuestras tiendas
								.home__link__btn
									a.btn.btn-enlace1.btn-celeste.rounded-0( href='tiendas.html') ver direcciones
			.home__link__item
				.home__link__item__inside
					.home__link__item__img.home__link__item__img--fondo__2
					figure.home__link__img.home__link__img--2
						img(src=`${STATIC_URL}img/home__link__img__2.png`, width="152", height="184" alt="")
					.home__link__item__absolute
						.home__link__item__table
							.home__link__item__table_cell
								.home__link__item__content
									h3 Encuentra
									p nuestras tiendas
								.home__link__btn
									a.btn.btn-enlace12.btn-azul( href='') únete  al equipo
			.home__link__item
				.home__link__item__inside
					.home__link__item__img.home__link__item__img--fondo__3
					figure.home__link__img.home__link__img--3
						img(src=`${STATIC_URL}img/home__link__img__3.png`, width="225", height="183" alt="")
					.home__link__item__absolute
						.home__link__item__table
							.home__link__item__table_cell
								.home__link__item__content
									h3
										| Obten nuestro
										br
										| catalogo
									p nuestras tiendas
								.home__link__btn
									a.btn.btn-enlace12.btn-azul( href='') Descargar ahora
	section.home__videos
		.home__videos__container
			.home__video__left
					.home__video__left__title
						h3 Manteniendo siempre el buen servicio
						p Estamos conectados para estar cada vez mas cerca de ti.
			.home__video__right
				.home__video__container__items
					.home__video__item
						.home__video__content.w-video
							.home__video__coverpage.w-portada(style=`background-image: url('${STATIC_URL}img/video-img1.jpg');`)
								span.home__video__icon.w-play
							.home__video__wrap
								.home__video__inside__content
									iframe.video-iframe(data-video='SwlQFK_1C8k', width='550', height='350', frameborder='0', allowfullscreen='')
					.home__video__item
						.home__video__content.w-video
							.home__video__coverpage.w-portada(style=`background-image: url('${STATIC_URL}img/video-img2-.jpg');`)
								span.home__video__icon.w-play
							.home__video__wrap
								.home__video__inside__content
									iframe.video-iframe(data-video='SwlQFK_1C8k', width='550', height='350', frameborder='0', allowfullscreen='')
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script.
		function linkToParent(i){
			$(i).each(function(index, el) {
				$(el).css('cursor', 'pointer').click(function(e) {
					$( location ).attr("href", $(el).find('a').attr('href').split('#')[0]);
				});
			});
		}
		$(function(){
			//- bx slider slider banne-principal
			$('.slider__principal__pitcher4').bxSlider({
				mode: 'fade',
				controls:true,
				nextText: '',
				prevText: '',
				pager:true,
				adaptiveHeight:true,
				auto:true,
				pause: 5000,
				onSliderLoad: function(currentIndex) {
					$('.slider__principal__pitcher4').children().eq(currentIndex).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.slider__principal__pitcher4').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});

			//- slick slider item product
			$('.slider__carrousel__item--js').slick({
				slidesToShow: 4,
				slidesToScroll: 4,
				infinite: true,
				autoplay: true,
				arrows: false,
				dots: true,
				 responsive: [
					{
						breakpoint: 1700,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 768,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});

			//link parent 
			linkToParent('.item__general');


			//bucle 
			var g_itemx = ['g-item1','g-item2','g-item3','g-item4','g-item5','g-item6'];
			$('.g-item-bucle-home').each(function(i,e){
				$(e).addClass(g_itemx[i%g_itemx.length])
			});
				
			//- slick- slider marcas
			$('.slider__carrousel__clients--js').slick({
				infinite: true,
				autoplay: true,
				speed: 300,
				slidesToShow: 6,
				slidesToScroll: 1,
				margin: 0,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
						slidesToShow: 4
						}
					},
					{
						breakpoint: 641,
						settings: {
						slidesToShow: 3
						}
					},
					{
						breakpoint: 481,
						settings: {
						slidesToShow: 2
						}
					},
					{
						breakpoint: 361,
						settings: {
						slidesToShow: 1
						}
					}
				]
			});

			//bucle 
			var g_itemx = ['g-item1','g-item2','g-item3'];
			$('.home__link__item').each(function(i,e){
				$(e).addClass(g_itemx[i%g_itemx.length])
			});

			linkToParent('.home__link__item');


			//video 
			function video_play(){
				var url ="https://www.youtube.com/embed/";
				var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"
				$('.w-play').click(function(event) {
					play = $(this)
					play.addClass('anima');
					videocurrent = $(this).closest('.w-video').find('.video-iframe');
					videoid = videocurrent.attr('data-video');
					videocurrent.attr('src', url+videoid+config);


					videocurrent.on('load', function() {
						play.closest('.w-video').find('.w-portada').addClass('active');
						play.addClass('active');
						videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*'); 
					});

				});
			}

			video_play();
			
		});
