src/pages/nosotros.pug
extends ./_common/base.pug

block content
	div.nosotros_header
		div.nosotros_header--img
			div.nosotros_header--imagen(style="background-image: url('/assets/img/img_nosotros_header.png')")
		div.nosotros_header--text
			div.titulos.titulo--izquierda
				h2 30 años brindando
				h3 produtos de calidad
			div
				p Por más de 20 años SAFARI GROUP se ha ido consolidando en el grupo empresarial que mayor variedad de productos puede ofrecerle en marcas reconocidas nacional e internacionalmente. Estamos siempre motivados por brindarle a nuestros clientes las opciones más modernas en lo que respecta a seguridad vehicular, implementación, equipamiento,  accesorios y también herramientas ferreteras. Con el tiempo hemos crecido y nuestros clientes con nosotros.
	div.nosotros_midle
		div.nosotros_midle--title
			h3 Mantenimiento siempre el buen servicio
		div.nosotros_midle--content
			div.nosotros_midle--text
				h6 Compromiso
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.
			div.nosotros_midle--text
				h6 Orden y Puntualidad
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.
			div.nosotros_midle--text
				h6 Trabajo en Equipo
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.
			div.nosotros_midle--text
				h6 Relaciones a largo plazo
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.
			div.nosotros_midle--text
				h6 Innovación y crecimiento
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.
	div.nosotros_footer#nosotros_footer_id
		div.nosotros_footer--img
			div.nosotros_footer--imagen(style="background-image: url('/assets/img/img_nosotros_footer.png')")
		div.nosotros_footer--text
			div.nosotros_footer--title
				h3 Nuestra Filosofía
			div
				p Constancia y orden en el trabajo, manteniendo la disciplina en nuestros procesos de distribución. Esforzándonos cada día para satisfacer las necesidades de compra de nuestros clientes, comprometiéndonos con cumplir los tratos comerciales con prontitud y calidad de servicio. Dispuestos siempre al crecimiento de la empresa y de todos aquellos colaboradores que la hacen más grande cada día
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(function(){
			//nosotros animacion
			var nosotros_footer = $('#nosotros_footer_id');
			nosotros_footer.waypoint(function(direction) {
				if (direction === 'down') {
					$('.nosotros_footer').addClass('active');
				}
			}, {
				offset:'45%'
			});

		});

programing/nosotros.html

      <div class="nosotros_header">
        <div class="nosotros_header--img">
          <div class="nosotros_header--imagen" style="background-image: url('/assets/img/img_nosotros_header.png');"></div>
        </div>
        <div class="nosotros_header--text">
          <div class="titulos titulo--izquierda">
            <h2>30 años brindando</h2>
            <h3>produtos de calidad</h3>
          </div>
          <div>
            <p>Por más de 20 años SAFARI GROUP se ha ido consolidando en el grupo empresarial que mayor variedad de productos puede ofrecerle en marcas reconocidas nacional e internacionalmente. Estamos siempre motivados por brindarle a nuestros clientes las opciones más modernas en lo que respecta a seguridad vehicular, implementación, equipamiento,  accesorios y también herramientas ferreteras. Con el tiempo hemos crecido y nuestros clientes con nosotros.</p>
          </div>
        </div>
      </div>
      <div class="nosotros_midle">
        <div class="nosotros_midle--title">
          <h3>Mantenimiento siempre el buen servicio</h3>
        </div>
        <div class="nosotros_midle--content">
          <div class="nosotros_midle--text">
            <h6>Compromiso</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="nosotros_midle--text">
            <h6>Orden y Puntualidad</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="nosotros_midle--text">
            <h6>Trabajo en Equipo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="nosotros_midle--text">
            <h6>Relaciones a largo plazo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="nosotros_midle--text">
            <h6>Innovación y crecimiento</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore y dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
      <div class="nosotros_footer" id="nosotros_footer_id">
        <div class="nosotros_footer--img">
          <div class="nosotros_footer--imagen" style="background-image: url('/assets/img/img_nosotros_footer.png');"></div>
        </div>
        <div class="nosotros_footer--text">
          <div class="nosotros_footer--title">
            <h3>Nuestra Filosofía</h3>
          </div>
          <div>
            <p>Constancia y orden en el trabajo, manteniendo la disciplina en nuestros procesos de distribución. Esforzándonos cada día para satisfacer las necesidades de compra de nuestros clientes, comprometiéndonos con cumplir los tratos comerciales con prontitud y calidad de servicio. Dispuestos siempre al crecimiento de la empresa y de todos aquellos colaboradores que la hacen más grande cada día</p>
          </div>
        </div>
      </div>

    <script src="assets/js/slick/slick.js"></script>
    <script src="assets/js/jquery.waypoints.js"></script>
    <script>
      $(function(){
      	//nosotros animacion
      	var nosotros_footer = $('#nosotros_footer_id');
      	nosotros_footer.waypoint(function(direction) {
      		if (direction === 'down') {
      			$('.nosotros_footer').addClass('active');
      		}
      	}, {
      		offset:'45%'
      	});
      
      });
    </script>
