programing/resultado-busqueda.html

      <div class="resultado-busqueda__title">
        <h2>RESULTADOS DE BUSQUEDA</h2>
        <p>Se encontraron 1223 Productos</p>
      </div>
      <div class="listado__content_grnal">
        <div class="listado__wrapp">
          <div class="listado__menu">
            <div class="listado__filtro">
              <h2>FILTROS SELECCIONADOS</h2>
              <ul class="filtros__seleccion">
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">Eagleye<i class="icon-close"></i></a></li>
                <li class="item__filtrado"><a href="asda">wimbo<i class="icon-close"></i></a></li>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>AUTOPARTES</h2></a>
                <li class="listado__categoria__name listado__categoria__name--tittle">Accesorios
                  <li class="listado__categoria_item"><a href="asda">Accesorios electricos</a></li>
                  <li class="listado__categoria_item"><a href="asda">Accesorios externos</a></li>
                  <li class="listado__categoria_item"><a href="asda">Accesorios internos</a></li>
                  <li class="listado__categoria_item"><a href="asda">Asistencia vehicular</a></li>
                  <li class="listado__categoria_item"> <a href="asda">Espejos</a></li>
                  <li class="listado__categoria_item"> <a href="asda">Focos</a></li>
                  <li class="listado__categoria_item listado__categoria__item--maximo"><a href="asda">Ver más</a></li>
                </li>
                <ul class="listado__categoria__name listado__categoria__name--color">
                  <li class="listado__categoria__name listado__categoria__name--tittle">Equipamiento
                    <li class="listado__categoria_item"><a href="asda">Equipamiento</a></li>
                  </li>
                </ul>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>TIPOS</h2></a>
                <li class="listado__categoria_item"><a href="">A</a></li>
                <li class="listado__categoria_item"><a href="">B</a></li>
              </ul>
              <ul class="listado__categoria__name listado__categoria__name--color"><a href="">
                  <h2>MARCAS</h2></a>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos1"/>
                  <label class="form-check-label" for="check-productos1">Wimbo</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos2"/>
                  <label class="form-check-label" for="check-productos2">DLAA</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos3"/>
                  <label class="form-check-label" for="check-productos3">Safari</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos4"/>
                  <label class="form-check-label" for="check-productos4">Etizo</label>
                </li>
                <li class="listado__categoria_item"> 
                  <input class="form-check-input" type="checkbox" id="check-productos5"/>
                  <label class="form-check-label" for="check-productos5">Eagleye</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="listado__cuerpo">
            <div class="listado__cuerpo__banner" style="background-image: url(assets/img/banner_listado.png);">
              <div class="listado__cuerpo__banner--title">
                <h2>ACCESORIOS</h2>
              </div>
            </div>
            <div class="listado__nav__cuerpo">
              <ul class="listado__nav__content">
                <li class="listado__nav__tittle">ORDENAR POR:</li>
                <li class="listado__nav__sub"> <a href="">Más relevante</a></li>
                <li class="listado__nav__sub"> <a href="">Novedades</a></li>
              </ul>
            </div>
            <div class="listado__cuerpo__items">
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
              <div class="listado__cuerpo__producto">
                <div class="item__general">
                  <div class="item__general__image__product"><img src="../assets/img/item-general-img.png" alt=""/></div>
                  <div class="item__general__code"><span>SKU 12345678</span></div>
                  <div class="item__general__title">
                    <h3>Lorem ipsum dolor sit</h3>
                  </div>
                  <div class="item__general__button"><a class="btn btn-enlace12 btn-azul" href="hola.html">Ver Producto</a></div>
                </div>
              </div>
            </div>
            <div class="listado__ver">
              <ul class="listado__opcion__productos"><a href="">
                  <li><i class="listado__opcion"></i></li></a><a href="">
                  <li><i class="listado__opcion"></i></li></a><a href="">
                  <li><i class="listado__opcion"></i></li></a></ul>
              <div class="listado__text">
                <h3>VER MÁS PRODUCTOS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
     

src/pages/resultado-busqueda.pug
extends ./_common/base.pug

block content
	.resultado-busqueda__title
				h2 RESULTADOS DE BUSQUEDA
				p Se encontraron 1223 Productos
	
	.listado__content_grnal
		
		.listado__wrapp

			.listado__menu
				//- .listado-pastilla
				//- 	ul
				//- 		li Autopartes
				//- 		li Accesorios
				//- 		li Timones
				.listado__filtro
					h2 FILTROS SELECCIONADOS
					ul.filtros__seleccion
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| Eagleye
								i.icon-close
						li.item__filtrado
							a(href='asda')
								| wimbo
								i.icon-close
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 AUTOPARTES
						li.listado__categoria__name.listado__categoria__name--tittle Accesorios
							li.listado__categoria_item
								a(href='asda')
									|Accesorios electricos

							li.listado__categoria_item
								a(href='asda')
									|Accesorios externos
							li.listado__categoria_item
								a(href='asda')
									|Accesorios internos
							li.listado__categoria_item
								a(href='asda')
									|Asistencia vehicular
							li.listado__categoria_item 
								a(href='asda')
									|Espejos
							li.listado__categoria_item 
								a(href='asda')
									|Focos
							li.listado__categoria_item.listado__categoria__item--maximo
								a(href='asda')
									|Ver más

						ul.listado__categoria__name.listado__categoria__name--color
							li.listado__categoria__name.listado__categoria__name--tittle Equipamiento
								li.listado__categoria_item
									a(href='asda')
										|Equipamiento
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 TIPOS
						li.listado__categoria_item
							a(href="")
								|A
						li.listado__categoria_item
							a(href="")
								|B
					ul.listado__categoria__name.listado__categoria__name--color
						a(href='')
							h2 MARCAS
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos1")
								label.form-check-label(for='check-productos1') Wimbo


						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos2")
								label.form-check-label(for='check-productos2') DLAA
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos3")
								label.form-check-label(for='check-productos3') Safari
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos4")
								label.form-check-label(for='check-productos4') Etizo
						li.listado__categoria_item 
								input.form-check-input(type='checkbox' id="check-productos5")
								label.form-check-label(for='check-productos5') Eagleye
						
						
						
			.listado__cuerpo
				.listado__nav__cuerpo
					ul.listado__nav__content
						li.listado__nav__tittle ORDENAR POR:
						li.listado__nav__sub 
							a(href="")
								| Más relevante
						li.listado__nav__sub 
							a(href="")
								| Novedades

				.listado__cuerpo__items
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
					.listado__cuerpo__producto
						.item__general
							.item__general__image__product
								img(src=`../${STATIC_URL}img/item-general-img.png`, alt="")
							.item__general__code
								span SKU 12345678
							.item__general__title
								h3 Lorem ipsum dolor sit
							.item__general__button
								a.btn.btn-enlace12.btn-azul( href='hola.html') Ver Producto
				.listado__ver
					ul.listado__opcion__productos
						a(href="")
							li
								i.listado__opcion
						a(href="")
							li
								i.listado__opcion
						a(href="")
							li
								i.listado__opcion
					.listado__text
						h3 VER MÁS PRODUCTOS
						
